<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-tencent-ilvb"
        version="0.1.0">

  <name>TencentILVB</name>
  <description>Tencent ILVB Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,live,video,tencent,qq,ilvb,lvb</keywords>
  <repo>https://github.com/EaseCloud/cordova-plugin-tencent-ilvb.git</repo>
  <issue>https://github.com/EaseCloud/cordova-plugin-tencent-ilvb/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <!-- 这里指定了 js 接口层文件的路径 -->
  <js-module name="TencentILVB" src="www/ilvb.js">
    <!-- 这里指定 window.WebRTCAPI 可以访问到插件的 js 接口层 -->
    <clobbers target="WebRTCAPI" />
  </js-module>

  <!-- 目前暂时先做 Android，iOS 会有独立的另一个 platform 节点 -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="TencentILVB">
        <param name="android-package" value="cn.easecloud.cordova.tencent.TencentILVB"/>
      </feature>
    </config-file>
	
	<framework src="com.tencent.livesdk:livesdk:1.1.4" />
	<framework src="com.tencent.ilivesdk:ilivesdk:1.7.1" />

    <!-- 腾讯直播 SDK -->
    <source-file src="src/android/libs/cos-sdk-android-1.4.3.jar" target-dir="libs" />
    <source-file src="src/android/libs/MobCommons-2017.0216.1054.jar" target-dir="libs" />
    <source-file src="src/android/libs/MobTools-2017.0216.1054.jar" target-dir="libs" />
    <source-file src="src/android/libs/sha1utils.jar" target-dir="libs" />
    <source-file src="src/android/libs/ShareSDK-Core-2.8.1.jar" target-dir="libs" />
    <source-file src="src/android/libs/ShareSDK-Wechat-2.8.1.jar" target-dir="libs" />
    <source-file src="src/android/libs/ShareSDK-Wechat-Core-2.8.1.jar" target-dir="libs" />
    <source-file src="src/android/libs/ShareSDK-Wechat-Favorite-2.8.1.jar" target-dir="libs" />
    <source-file src="src/android/libs/ShareSDK-Wechat-Moments-2.8.1.jar" target-dir="libs" />
    <source-file src="src/android/libs/gson-2.6.2.jar" target-dir="libs" />

    <!-- 源文件 -->
    <source-file src="src/android/TencentILVB.java" target-dir="src/cn/easecloud/cordova/tencent/"/>
	<source-file src="src/android/FaceRecognizer.java" target-dir="src/cn/easecloud/cordova/tencent/"/>
	<source-file src="src/android/res/layout/ilvbview.xml" target-dir="res/layout" />


  </platform>

  <platform name="ios">

    <header-file src="src/ios/TencentILVB.h"/>
    <source-file src="src/ios/TencentILVB.m"/>
	
	<framework src="src/ios/frameworks/AVSDK/QAVSDK.framework" custom="true" />
	
	<framework src="src/ios/frameworks/ILiveSDK/ILiveSDK.framework" custom="true" />
	<framework src="src/ios/frameworks/ILiveSDK/TILFilterSDK.framework" custom="true" />
	<framework src="src/ios/frameworks/ILiveSDK/TILLiveSDK.framework" custom="true" />
	
	<framework src="src/ios/frameworks/IMSDK/IMCore.framework" custom="true" />
	<framework src="src/ios/frameworks/IMSDK/ImSDK.framework" custom="true" />
	<framework src="src/ios/frameworks/IMSDK/IMSDKBugly.framework" custom="true" />
	<framework src="src/ios/frameworks/IMSDK/QALSDK.framework" custom="true" />
	<framework src="src/ios/frameworks/IMSDK/TLSSDK.framework" custom="true" />
	
	<framework src="OpenAL.framework" />
	<framework src="libbz2.tbd" />
	<framework src="libresolv.tbd" />
	<framework src="libiconv.tbd" />
	<framework src="libstdc++.6.tbd" />
	<framework src="libsqlite3.0.tbd" />
	<framework src="libprotobuf.tbd" />
	<framework src="libc++tbd" />
	<framework src="libz.tbd" />
	
	<resource-file src="src/ios/bundles/TILFilterResource.bundle"/>
	
	 <config-file target="config.xml" parent="/*/plugins">
		 <feature name="TencentILVB">
			 <param name="ios-package" value="TencentILVB"/>
		 </feature>
	 </config-file>

  </platform>



</plugin>